.full-width {
  width: 100%;
}

.test-card {
  min-width: 120px;
  margin: 20px auto;
  padding: 2px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

//.sf {
//  min-height: 300px;
//
//  mat-form-field {
//    width: 100%;
//  }
//}
