<div class="case-page ">
  <div>
    <h1>Task</h1>
    <!--  <span class="font-semibold">Other Props:</span>-->
    <!--  <div>-->
    <!--    <span>Created On; </span>-->
    <!--    <span>Created By; </span>-->
    <!--    <span>Last Updated; </span>-->
    <!--    <span>Last Updated By; </span>-->
    <!--    <span>Appellant Name; </span>-->
    <!--    <span>Auth Rep Name; </span>-->
    <!--    <span>Appeal Type; </span>-->
    <!--    <span>Appeal Subtype; </span>-->
    <!--    <span>Days Since Receipt; </span>-->
    <!--    <span>Benefit Year; </span>-->
    <!--    <span>Hearing Officer; </span>-->
    <!--    <span>Appeal Location; </span>-->
    <!--  </div>-->
  </div>


<!--  <div>-->
<!--    <nav mat-tab-nav-bar [tabPanel]="tabPanel1">-->
<!--      <a mat-tab-link-->
<!--         routerLink="intake"-->
<!--         routerLinkActive="some"-->
<!--      >Intake</a>-->
<!--      <a mat-tab-link-->
<!--         routerLink="adjudication"-->
<!--         routerLinkActive="some"-->
<!--      > Adjudication/IR </a>-->
<!--      <a mat-tab-link-->
<!--         routerLink="hearing"-->
<!--         routerLinkActive="some"-->
<!--      > Hearing-->
<!--      </a>-->
<!--      <a mat-tab-link-->
<!--         routerLink="closure"-->
<!--         routerLinkActive="some"-->
<!--      > Effectuation/Closure </a>-->
<!--      <a mat-tab-link-->
<!--         routerLink="tasks"-->
<!--         routerLinkActive="some"-->
<!--      > Tasks </a>-->
<!--      &lt;!&ndash;  <a mat-tab-link disabled>Disabled Link</a>&ndash;&gt;-->
<!--      &lt;!&ndash;  <a mat-tab-link *ngFor="let link of links"&ndash;&gt;-->
<!--      &lt;!&ndash;     (click)="activeLink = link"&ndash;&gt;-->
<!--      &lt;!&ndash;     [active]="activeLink == link"> {{link}} </a>&ndash;&gt;-->
<!--      &lt;!&ndash;  <a mat-tab-link disabled>Disabled Link</a>&ndash;&gt;-->
<!--    </nav>-->
<!--    <mat-tab-nav-panel #tabPanel1></mat-tab-nav-panel>-->
<!--  </div>-->

  <div>
    <router-outlet></router-outlet>
  </div>
  <!--<button mat-raised-button class="example-action-button" (click)="toggleBackground()">-->
  <!--  Toggle background-->
  <!--</button>-->
  <!--<button mat-raised-button class="example-action-button" (click)="addLink()">-->
  <!--  Add link-->
  <!--</button>-->
</div>


