<section class="flex justify-center m-5 p-5">
    <form [formGroup]="form">
        <h2>Contact Form</h2>
        <div class="ea-section-row inline-form">
<!--            <label class="example-listbox-label" id="example-shirt-size-label">-->
<!--                Suffix-->
<!--            </label>-->
<!--            <ul cdkListbox-->
<!--                cdkListboxOrientation="horizontal"-->
<!--                aria-labelledby="example-shirt-size-label"-->
<!--                class="example-listbox">-->
<!--                <li *ngFor="let size of sfx"-->
<!--                    [cdkOption]="size"-->
<!--                    class="example-option">-->
<!--                    {{size}}-->
<!--                </li>-->
<!--            </ul>-->
            <div  >
                <mat-checkbox class="div-appeal-info-xref-buttons" formControlName="primaryContact">Primary Contact</mat-checkbox>
                <mat-checkbox class="div-appeal-info-xref-buttons" formControlName="ubleToContact"
                >Unable to contact
                    <mat-error *ngIf="form.get('ubleToContact')?.hasError('required')">Unable to contact is required. </mat-error>
                </mat-checkbox>

                <span class="div-appeal-info-xref-buttons">
        <h4>Person Type</h4>
      </span>
            </div>
            <div   class="div-full-name">
                <mat-form-field appearance="fill" >
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" />
                    <mat-error *ngIf="form.get('firstName')?.hasError('required')"
                    >First Name is required. Enter a First Name in the text box.</mat-error
                    >
                    <mat-error *ngIf="form.get('firstName')?.hasError('maxlength')"
                    >First Name should be less than {{ firstNameMaxLength }} characters
                    </mat-error>

                    <mat-error *ngIf="form.get('firstName')?.hasError('pattern')"
                    >{{ form.get('firstName')!.value }} is not a valid First Name. Enter a valid First Name using capitalized letters only.
                    </mat-error>
                    <mat-hint align="end">{{ form.get('firstName')!.value?.length || 0 }}/{{ firstNameMaxLength }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" >
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName" />
                    <mat-error *ngIf="form.get('middleName')?.hasError('maxlength')"
                    >Middle Name should be less than {{ middleNameMaxLength }} characters
                    </mat-error>
                    <mat-error *ngIf="form.get('middleName')?.hasError('middleName', 'pattern')"
                    >Only Alpha Characters, '-' are allowed in Middle name
                    </mat-error>
                    <mat-hint align="end">{{ form.get('middleName')!.value?.length || 0 }}/{{ middleNameMaxLength }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" >
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" />
                    <mat-error *ngIf="form.get('lastName')?.hasError('required')">Last Name is required. Enter a Last Name in the text box.</mat-error>
                    <mat-error *ngIf="form.get('lastName')?.hasError('maxlength')"
                    >Last Name should be less than {{ lastNameMaxLength }} characters</mat-error
                    >
                    <mat-error *ngIf="form.get('lastName')?.hasError('pattern')"
                    >{{ form.get('lastName')!.value }} is not a valid Last Name. Enter a valid Last Name using capitalized letters only.
                    </mat-error>
                    <mat-hint align="end">{{ form.get('lastName')!.value?.length || 0 }}/{{ lastNameMaxLength }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex="15">
                    <mat-label>Suffix</mat-label>
                    <mat-select formControlName="sfx">
                        <ng-container *ngFor="let suffix of aplSuffixArr">
                            <mat-option [value]="suffix">{{ suffix }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div  >
                <mat-form-field appearance="fill" >
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dob" [matDatepicker]="hear" />
                    <mat-datepicker-toggle matSuffix [for]="hear"></mat-datepicker-toggle>
                    <mat-datepicker #hear></mat-datepicker>
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="form?.get('dob')?.hasError('required')"> Date of Birth is required (MM/DD/YYYY). </mat-error>
                    <mat-error *ngIf="form?.get('dob')?.hasError('dateLessThanNewDate')">
                        Date of Birth must be a previous date. Select a valid Date of Birth from the calendar.
                    </mat-error>
                </mat-form-field>

                <div class="div-appeal-info-xref-buttons" >
                    <mat-checkbox fxLayoutAlign="space-around end" formControlName="sgntrInd">Signature Indicator </mat-checkbox>
                </div>

                <mat-form-field appearance="fill" >
                    <mat-label>Date Signed</mat-label>
                    <input matInput formControlName="dtSgnd" [matDatepicker]="dateSigned" />
                    <mat-datepicker-toggle matSuffix [for]="dateSigned"></mat-datepicker-toggle>
                    <mat-datepicker #dateSigned></mat-datepicker>
                    <mat-error *ngIf="form?.get('dtSgnd')?.hasError('required')"> Date Signed is required (MM/DD/YYYY). </mat-error>
                    <mat-error *ngIf="form?.get('dtSgnd')?.hasError('dateLessThanNewDate')">
                        Date Signed must be a previous date. Select a valid Date from the calendar.
                    </mat-error>
                </mat-form-field>
            </div>
            <div  >
                <mat-checkbox class="div-appeal-info-xref-buttons" formControlName="adrSameAsApllant">Address same as Appellant 1</mat-checkbox>
            </div>
        </div>
    </form>

</section>



<!--<table matTable class="cms-table" aria-label="Appellants Information">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th></th>-->
<!--        <th>Primary Contact</th>-->
<!--        <th>Number of Appellants</th>-->
<!--        <th>Person Type</th>-->
<!--        <th>First Name</th>-->
<!--        <th>Middle Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th>Suffix</th>-->
<!--        <th>Phone Number</th>-->
<!--        <th>Address Type</th>-->
<!--        <th>Street Address 1</th>-->
<!--        <th>Street Address 2</th>-->
<!--        <th>City</th>-->
<!--        <th>State</th>-->
<!--        <th>Zip Code</th>-->
<!--        <th>Signature Indicator</th>-->
<!--        <th></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    table body-->
<!--&lt;!&ndash;    <ng-container *ngFor="let control of formArray.controls; index as i">&ndash;&gt;-->
<!--&lt;!&ndash;        <tr [hidden]="expandedIndex === i">&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button color="primary" aria-label="Expand Row" (click)="expandRow(i)">&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon>chevron_right</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon color="primary" *ngIf="control.value.primaryContact">done</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.numOfAppellants }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ (personType$ | async | findBy: 'code':control.value.prsnType)?.displayText }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.firstName }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.middleName }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.lastName }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ (aplSuffix$ | async | findBy: 'code':control.value.sfx)?.displayText }}&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <ng-container *ngFor="let p of control.value.contactTellInfo">&ndash;&gt;-->
<!--&lt;!&ndash;                    <small>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>{{ p.telePhoneNumber }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span *ngIf="p.extension"> ext: {{ p.extNo }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>({{ p.phoneType }}); </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </small>&ndash;&gt;-->
<!--&lt;!&ndash;                </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.aplAddressType }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.aplStreetAddress1 }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.aplStreetAddress2 }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.aplCity }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.aplState }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>{{ control.value.aplZipCode }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon color="primary" *ngIf="control.value.sgntrInd">done</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button class="gray-icon" aria-label="Delete Row" (click)="deleteRow(i)">&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr [hidden]="expandedIndex !== i">&ndash;&gt;-->
<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button color="primary" aria-label="Expand Row" (click)="expandRow(i)">&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon>expand_more</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td colspan="16">&ndash;&gt;-->
<!--&lt;!&ndash;              &ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--    </tbody>-->
<!--</table>-->