<app-main-header></app-main-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="toggleService.isOpened"
  >

    <mat-toolbar class="menu-tool bg-blue-600">
      Menu
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onToggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <app-nav-list [menu]="menu"></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-area">
    <div class="">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
