<form [formGroup]="ff" class="flex flex-col">

  <mat-form-field appearance="fill">
    <mat-label>High Profile TYpe</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Appeal Phase</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Next Action</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Next Action Date</mat-label>
    <input matInput [matDatepicker]="datepicker1">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
    <mat-datepicker #datepicker1>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>FTR Tool Due Date</mat-label>
    <input matInput [matDatepicker]="datepicker2">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
    <mat-datepicker #datepicker2>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Respnse KPI Date A02</mat-label>
    <input matInput [matDatepicker]="datepicker3">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker3"></mat-datepicker-toggle>
    <mat-datepicker #datepicker3>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>ADJ KPI Date A01</mat-label>
    <input matInput [matDatepicker]="datepicker4">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker4"></mat-datepicker-toggle>
    <mat-datepicker #datepicker4>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>ADJ KPI Date A02</mat-label>
    <input matInput [matDatepicker]="datepicker5">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker5"></mat-datepicker-toggle>
    <mat-datepicker #datepicker5>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>ADJ KPI Date A04</mat-label>
    <input matInput [matDatepicker]="datepicker6">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker6"></mat-datepicker-toggle>
    <mat-datepicker #datepicker6>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Extension Date</mat-label>
    <input matInput [matDatepicker]="datepicker7">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker7"></mat-datepicker-toggle>
    <mat-datepicker #datepicker7>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <div class="flex justify-around">
    <div>
      <p>Go to a different step to see the error state</p>
      <button mat-button matStepperNext>Next</button>
    </div>
    <button mat-flat-button color="primary" (click)="completeStep()">Complete Step</button>
    <button mat-raised-button color="primary" (click)="onTest()">On Test</button>
  </div>

</form>
