<app-nav-stepper [menu]="menu">
  <cdk-step [completed]="isCompleted" [stepControl]="f1">
    <mat-card class="w-2/3 m-auto">
      <section [formGroup]="f1">
        <mat-card-header class="my-2">
          <mat-card-title>Appeal Overview</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Appeal Type</mat-label>
            <mat-select formControlName="aplType">
              <ng-container *ngFor="let it of aplTypes">
                <mat-option value="">---</mat-option>
                <mat-option [value]="it.displayText">{{ it?.displayText}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="hasError('aplType', 'required')">
              Intake Type is required. Select an Intake Type option from the dropdown
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Intake Type</mat-label>
            <mat-select formControlName="intakeType">
              <ng-container *ngFor="let it of intakeTypes">
                <mat-option [value]="it">{{ it}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="hasError('intakeType', 'required')">
              Intake Type is required. Select an Intake Type option from the dropdown
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Form Type</mat-label>
            <mat-select formControlName="formType">
              <ng-container *ngFor="let ft of formTypes">
                <mat-option [value]="ft">{{ ft }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="hasError('formType', 'required')"
            >Form Type is required. Select a Form Type option from the dropdown
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Appeal Receipt Type</mat-label>
            <mat-select formControlName="receiptType">
              <ng-container *ngFor="let rt of receiptTypes">
                <mat-option [value]="rt">{{ rt }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Appeal Submitted By</mat-label>
            <mat-select formControlName="aplSubmittedBy">
              <ng-container *ngFor="let asb of submittedByTypes">
                <mat-option [value]="asb">{{ asb }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="hasError('aplSubmittedBy', 'required')"> Select an Appeal Submitted By from the dropdown
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pended Reason</mat-label>
            <mat-select formControlName="pendedReason">
                <mat-option value="one">Reason One</mat-option>
                <mat-option value="two">Reason Two</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pended Appeal Request Date</mat-label>
            <input matInput formControlName="pendedReqStartDate" [matDatepicker]="pendedReqStartDatePicker"/>
            <mat-datepicker-toggle matSuffix [for]="pendedReqStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #pendedReqStartDatePicker></mat-datepicker>
            <mat-error *ngIf="hasError('pendedReqStartDate', 'required')">
              The Pended Appeal Request Date is required after selecting a Pended Reason. Select a Pended Appeal Request
              Date from the
              calendar.
            </mat-error>
            <mat-error *ngIf="hasError('pendedReqStartDate', 'dateRange')">
              The Pended Appeal Request Date cannot be dated after the Pended Appeal End Date. Select a valid Pended
              Appeal Request Date from
              the calendar.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pended Appeal End Date</mat-label>
            <input matInput formControlName="pendedReqEndDate" [matDatepicker]="pendedReqEndDatePicker"/>
            <mat-datepicker-toggle matSuffix [for]="pendedReqEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #pendedReqEndDatePicker></mat-datepicker>
            <mat-error *ngIf="hasError('pendedReqEndDate', 'required')">Valid End Date is required (MM/DD/YYYY).
            </mat-error>
            <mat-error *ngIf="hasError('pendedReqEndDate', 'dateRange')">
              The Pended Appeal Request End Date cannot be dated before the Pended Appeal Request Date. Select a valid
              Pended Appeal Request
              End Date from the calendar.
            </mat-error>
          </mat-form-field>

          <div class="div-appeal-info-xref-check">
            <mat-checkbox color="primary" formControlName="appCallReleaseHold">Appellant will call to release hold
            </mat-checkbox>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Xreference Type</mat-label>
            <mat-select formControlName="xreferenceType">
              <ng-container *ngFor="let xrt of xRefTypes">
                <mat-option [value]="xrt">{{ xrt}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="hasError('xreferenceType', 'required')"> Please, select a Xreference Type from the
              dropdown
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Appeal Xreference</mat-label>
            <input matInput formControlName="xreference" placeholder="Only valid Appeal format, APL-XX is allowed"/>
<!--            <mat-error *ngIf="hasError('xreference', 'pattern')"> Only valid Appeal format, APL-XX is allowed.-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="hasError('xreference', 'required')"> Appeal Xreference must be entered in the text box.-->
<!--            </mat-error>-->
          </mat-form-field>

          <div>
            <button disabled class="div-appeal-info-xref-buttons-button" mat-stroked-button color="primary"
                    [mat-dialog-close]="true">Add Xref
            </button>
            <button disabled class="div-appeal-info-xref-buttons-button" mat-stroked-button color="primary"
                    [mat-dialog-close]="true">
              Xref Appeals
            </button>
          </div>
          <h3 class="mat-subheading-2">Processing Dates</h3>
          <mat-form-field appearance="fill">
            <mat-label>Receipt Date</mat-label>
            <input
              matInput
              formControlName="receiptDate"
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="pd1"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle matSuffix [for]="pd1"></mat-datepicker-toggle>
            <mat-datepicker #pd1></mat-datepicker>
            <mat-error *ngIf="f1.get('receiptDate')?.hasError('required')">
              Receipt Date is required. Select a Receipt Date from the calendar.
            </mat-error>
            <mat-error *ngIf="f1.get('reciptDate')?.hasError('dateLessThanNewDate')">
              Receipt Date must be a previous date. Select a valid Receipt Date from the calendar.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Hearing Receipt Date</mat-label>
            <input matInput formControlName="hearingRecieptDate" [min]="minDate" [max]="maxDate"
                   [matDatepicker]="pd2"/>
            <mat-datepicker-toggle matSuffix [for]="pd2"></mat-datepicker-toggle>
            <mat-datepicker #pd2></mat-datepicker>
            <mat-hint></mat-hint>
            <mat-error *ngIf="f1.get('hearingRecieptDate')?.hasError('dateLessThanNewDate')">
              Hearing Receipt Date must be a previous date. Select a valid Receipt Date from the calendar.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Benefit Year</mat-label>
            <input type="text" matInput formControlName="planYear" placeholder="type the year">
            <mat-error *ngIf="f1.get('planYear')?.hasError('required')"
            >Benefit year is required.
            </mat-error
            >
          </mat-form-field>

          <h2>EACMS RECERIVED DATES ????</h2>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end" class="my-3">
          <div class="flex justify-around">
            <button mat-button matStepperNext>Next</button>
            <button matStepperNext mat-flat-button color="primary" [disabled]="f1.invalid" (click)="completeStep()">Complete Step
            </button>
          </div>
        </mat-card-actions>
      </section>
      <!--      <pre>-->
      <!--          {{f1.value | json}}-->
      <!--        </pre>-->
    </mat-card>
  </cdk-step>

  <cdk-step>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <ng-container *ngIf="contactsArr.length">

        <mat-tab label="Appellants">
          <button mat-fab extended color="primary" class="ml-10 mt-4">
            <mat-icon>add</mat-icon>
            New Appellant
          </button>
          <div class="mt-4 flex flex-wrap">

            <!--          <app-intake-contacts *ngFor="let p of addresses1" [person]="p" (click)="onUpdate()"></app-intake-contacts>-->
            <ng-container *ngFor="let c of contactsArr; let i = index">
              <mat-card class="min-w-[600px] m-4 long-card w-1/3 mat-elevation-z6" >
                <mat-card-header >
                  <mat-card-title> {{c.firstName | uppercase }} {{c.lastName | uppercase}}</mat-card-title>
                  <mat-card-subtitle>Primary Contact: {{c.primaryContact}}; Person Type: {{c.type}}</mat-card-subtitle>
                </mat-card-header>
                <!--            <mat-divider></mat-divider>-->
                <mat-card-content class="min-h-[70px]">
                  <div class="addresses">
                    <section class="addresses-header flex  ">
                      <div>
                        <button mat-icon-button >
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>

                      <h3 class="mt-2">ADRESSES:</h3>

                    </section>

                    <ng-container *ngFor="let ad of c?.contactAddress">
                      <section class="address-item flex justify-between">
                        <div class="max-w-[200px]">
                          <span>[{{ad.addressType}}]</span><br>
                          <span>{{ad.stAddressType1}}</span>
                          <span>{{ad.stAddressType2}}</span>
                          <span>{{ad.city}}, {{ad.state}} {{ad.zip}}</span>
                        </div>
                        <div>
                          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onUpdate()">
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>remove</mat-icon>
                              <span>Delete</span>
                            </button>
                          </mat-menu>
                        </div>
                      </section>

                      <mat-divider vertical inset></mat-divider>
                    </ng-container>
                  </div>


                </mat-card-content>
                <mat-card-actions >
                  <button mat-icon-button >
                    <mat-icon>add</mat-icon>
                  </button>
                  <p>PHONES: </p>
                      <p *ngFor="let pho of c.contactTellInfo"> {{pho?.phone}} ({{pho?.phoneType}})</p>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu2="matMenu">
                      <button mat-menu-item (click)="onUpdate()">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>remove</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </div>
                </mat-card-actions>
                <mat-card-actions>
                  <button mat-icon-button >
                    <mat-icon>add</mat-icon>
                  </button>
                  <p>EMAILS: </p>
                  <ng-container *ngFor="let em of c?.contactEmail">
                    <p>{{em.email}} ({{em.emailType}}) </p>
                    <div>
                      <button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu3="matMenu">
                        <button mat-menu-item (click)="onUpdate()">
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>remove</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                    </div>
                  </ng-container>
                </mat-card-actions>
              </mat-card>
            </ng-container>

          </div>
        </mat-tab>
        <mat-tab label="Representatives">
          <button mat-fab extended color="primary" class="ml-10 mt-4">
            <mat-icon>add</mat-icon>
            New Representative
          </button>
          <!--        <div class="flex justify-around mt-9">-->
          <app-contact></app-contact>
          <!--          <app-intake-contacts></app-intake-contacts>-->
          <!--          <app-intake-contacts></app-intake-contacts>-->
          <!--          <app-intake-contacts></app-intake-contacts>-->
          <!--          <app-intake-contacts></app-intake-contacts>-->
          <!--        </div>-->
        </mat-tab>
      </ng-container>
     <div *ngIf="!contactsArr.length">
       <h2>No contacts, please, add one.</h2>
     </div>
    </mat-tab-group>


  </cdk-step>
  <cdk-step>
    step 3 is here
  </cdk-step>
  <cdk-step>Content 4</cdk-step>
  <cdk-step>Content 5</cdk-step>
  <cdk-step>Content 6</cdk-step>
  <cdk-step>Content 7</cdk-step>
  <cdk-step>Content 8</cdk-step>
  <cdk-step>Content 9</cdk-step>

</app-nav-stepper>
