.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  //margin-top: 16px;
  width: 45%;
  margin: 1% 2%;
}
.address-item {
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-left: 4px solid orange;
  padding-left: 5px;
  //background-color: rgba(0,0,0,.1);
}