.mat-stepper-vertical {
  margin-top: 8px;
}
.long-card-header {
  border-radius: 32px;
}

.form-section-1 {
  .mat-mdc-form-field {
    max-width: 410px;
    min-width: 300px;
  }
}
.form-section-2 {
  .mat-mdc-form-field {
    max-width: 410px;
    min-width: 300px;
  }
}
.mat-mdc-form-field {
  //margin-top: 16px;
  width: 45%;
  margin: 1% 2%;
}
.address-item {
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-left: 4px solid orange;
  padding-left: 5px;
  //background-color: rgba(0,0,0,.1);
}