<h1>Chart 2D</h1>
<!--<ngx-charts-bar-vertical-->
<!--  [view]="600, 400"-->
<!--  [scheme]="'#9370DB', '#87CEFA', '#FA8072', '#FF7F50', '#90EE90', '#9370DB'"-->
<!--  [results]="multi"-->
<!--  [gradient]="gradient"-->
<!--  [xAxis]="showX"-->
<!--  [yAxis]="showY"-->
<!--  [legend]="showLegend"-->
<!--  [showXAxisLabel]="true"-->
<!--  [showYAxisLabel]="true"-->
<!--  xAxisLabel="Workbaskets"-->
<!--  yAxisLabel="Records"-->
<!--  (select)="onSelect($event)"-->
<!--&gt;</ngx-charts-bar-vertical>-->
