<div
        style="background-image: url('assets/img/12.svg'); backdrop-filter: sepia(90%);"
        class="bg-gray-100 bg-contain bg-no-repeat bg-center bg-fixed bg-top-[100px] flex flex-col items-center justify-center text-black h-[calc(100vh-20px)] min-h-[400px]">
        <div class="bg-white/40 py-2 px-4 rounded-xl backdrop-blur-md text-center">
            <div class="relative">
                <img src="assets/logos/cms-test-fill.svg" alt="test" width="375">
            </div>
            <div class="newfont text-5xl text-yellow-400 "><span>Case Manager App</span></div>
    </div>
    <div class="fixed top-20 right-10 w-[300px] h-[600px] overflow-auto bg-amber-200">
        <h2>List Of Dropdown Values:</h2>
        <ul>
            <li *ngFor="let t of allTypes; let i = index">
                <span>{{i}} - </span>
                <span>{{t.type}} - </span>
                <span>{{t.val}}</span>
            </li>
        </ul>
    </div>
</div>
