<div
        style="background-image: url('assets/img/10.png'); backdrop-filter: sepia(90%);"
        class="bg-gray-100 bg-contain bg-no-repeat bg-center bg-fixed bg-top-[100px] flex flex-col items-center justify-center text-black h-[calc(100vh-20px)] min-h-[400px]">
        <div class="bg-white/40 py-2 px-4 rounded-xl backdrop-blur-md text-center">
            <div class="relative">
                <img src="assets/logos/cms-test-fill.svg" alt="test" width="375">
            </div>
            <div class="newfont text-5xl text-yellow-400 "><span>Case Manager App</span></div>
    </div>

    <div class="koo absolute flex flex-col items-center justify-center"></div>
</div>
