.test {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.koo {
  background: rgba(255, 255, 255, 0.2);
  //backdrop-filter: sepia(90%);
  height: 100vh;
  width: 100%;
}
.newfont {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-shadow: 1px 2px 2px rgba(0,0,0,.6);
  //text-shadow: 1px 2px 2px rgba(255,255,255,.99);
}
.typed-msg {
  display: flex;
  position: fixed;
  align-items: center;
  //top:0;
  z-index: 999;
  width: 100vw;
  box-shadow: 1px 3px 2px rgba(0,0,0,.2);
  //background-color: pink;
  padding: 1rem 0.5rem;
  .cont-txt {
    padding-left: 10px;
    width: calc(100vw - 340px);
    font-size: 1.1em;
  }
  .left-icon {
    width: 30px;
  }
  .right-icon {
    width: 30px;
  }
}
