/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap');


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//body {
//  --sb-track-color: #232E33;
//  --sb-thumb-color: #6BAF8D;
//  --sb-size: 10px;
//
//  scrollbar-color: var(--sb-thumb-color)
//  var(--sb-track-color);
//}
//
//body::-webkit-scrollbar {
//  width: var(--sb-size)
//}
//
//body::-webkit-scrollbar-track {
//  background: var(--sb-track-color);
//  border-radius: 10px;
//}
//
//body::-webkit-scrollbar-thumb {
//  background: var(--sb-thumb-color);
//  border-radius: 10px;
//
//}